@font-face {
    font-family: 'pizza';
    src: url("font/CHEESEPIZZA.ttf");
}

*{
    margin: 0px;
    scroll-behavior: smooth;
}
header #navbarHeader .row a:hover {
    background-color: #CE5E31;
}
.row a{
    display: flex;
    justify-content: center;
    text-decoration:none ;
    transition: 0.5s ease-in-out;
}
.navbar-toggler{
    display: none;
 }
 #men{
    display: flex;
}
#men li a::after{
    content: "";
height: 2px;
width: 0;
left:0px;
display: block;
background-color: #CE5E31;
}
#men li a:hover::after{
    content: "";
height: 2px;
width: 120%;
display: block;
background-color: #CE5E31;
transition: 0.3s ease-in-out;
}

#button-style{
    background-color: #CE5E31;
    color:white;
    display: flex;
    margin:auto;
    text-align: center;
    transition: 0.4s ease-in-out;
}
#button-style:hover{
    transform: scale(1.2);
}
.banner{
    width: 100%;
    height: 70vh;
    background-image:url("img/pizza3.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.banner::after{
    content: '';
    width: 100%;
    height: 4%;
    background: linear-gradient(to top,rgb(255, 255, 255), transparent);
    position: absolute;
    bottom: 0px;
    left:0px;
}

#menu{
    color: #ffffff;
    font-family: pizza;
    text-align: center;
    font-size: 400px;
    text-shadow: 5px 2px 2px rgba(0, 0, 0, 0.975); 
    margin-bottom: 7rem;
}
#guzik{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:10vh;
    width: 150px;
    height: 40px;
    background-color: #CE5E31;
    color:white;
    display: flex;
    margin:auto;
    text-align: center;
    transition: 0.4s ease-in-out;
    border-radius: 10px;
    font-weight: bold;
}
#hrefguzik{
    width: 150px;
    height: 40px;
}
#guzik:hover{
    transform: scale(1.2);
}
.product{
    width: 170px;
    height: 270px;
    background-color: rgb(255, 255, 255);
    margin:20px;
}
#nr{
    width: 25%;
    border-radius: 0px;
    border: none;
    text-align: center;
    padding-left: 1rem ;
    padding-right: 1rem ;
}
#incrementor button{
width: 40px;
text-align: center;
border: none;
color:white;
background-color: #CE5E31;
font-size: 22px;
}
.plus{
    border-radius:0px 20px 20px 0px;
}
.minus{
    border-radius: 20px 0px 0px 20px;
}
.made{
    border: 5px dashed rgb(255, 255, 255);
    border-radius: 40px 40px 40px 40px;
    border-radius: 33px;
    background-image: url("img/pizza2.jpg");
    background-attachment: fixed;
    background-size: cover;
}
#cena{
    height: 80px;
    background-color: #4f8f5b;
}
#button-access{
    background-color: #CE5E31;
    border:none;
}

.text_green{
    color:#93ffa5;
    transition: 0.3s ease-in;
  }
  .text_white{
    transition: 0.3s ease-out;
    color:white;
  }
  .text_red{
    transition: 0.3s ease-in;
    color:rgb(255, 102, 102);
  }
  .card{
    width: 320px;
    height: 540px;
    border: 1px black solid;
  }
.pizza-description{
    background-color: #CE5E31;
}
.card{
    border: none;
    box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.432);
    transition: 0.4s ease-in-out;
}
.card:hover{
    transform: scale(1.1);
}
.btn1{
    background-color: gold;
    box-shadow: 0px 0px 20px 4px rgb(255, 222, 34);
    transition: 0.3s ease-in-out;
}
.btn1:hover{
    box-shadow: 0px 0px 25px 3px rgb(246, 255, 0);
}
.pizza-price{
    font-size: 50px;
}

.pizza-description::before{
    content: '';
    width: 100%;
    height: 4%;
    background: linear-gradient(to bottom,rgb(255, 255, 255), transparent);
    position: absolute;
    bottom: 52%;
    left:0px;
}
#back{
   background-image: url("img/back.png"); 
   background-repeat: no-repeat;    
    position: relative;
}
#back::before{
    background: url("img/wave2.png"); 
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left:0px;
}
@media (max-width: 800px) {

    .navbar-toggler{
       display: flex;
    }
   #men{
       display: none;
   }
   #menu{
    font-size: 250px;
    padding-bottom: 4%;
    }
   }

   

   